/.idea/inspectionProfiles/Project_Default.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/jsonSchemas.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/.gitignore
